*{
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif ;
    box-sizing: border-box;
}
.container {
    width:100%;
    min-height:100vh;
    background-color:rgb(5, 58, 5);
    padding: 10px;
}

.todo-app{
    width:100%;
    max-width:540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    }
.todo-app h2 {
    color:black;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom:20px;
}

.row {
    display:flex;
    align-items:center;
    justify-content:center;
    background: #edeefe;;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom:25px;

}

 input { 
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 15px;
}

button { 
    border: none;
    outline: none;
    padding: 16px 50px;
    background:rgb(32, 102, 9);
    color:#fff;
    font-size:16px;
    cursor:pointer;
    border-radius: 40px;
}

ul  li {
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px; 
    user-select: none;
    cursor:pointer;
    position: relative;
}
ul li button {
    background-color: Red;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}




